ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #212529;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

ion-icon {
  font-size: 20px;
  top: 5px;
  position: relative;
}

label {
  color: $secondary-text;
  font-size: 12px;
}

.form-control {
  border-radius: 0;
}

section {
  padding-bottom: 4rem;
}

.form-control:disabled, .form-control[readonly] {
  border: transparent;
  padding: 10px;
}
.btn {
  border-radius: 0.05rem;
  color: #fff;
  &.btn-metal {
    color: #fff;

    &.m-btn--air {
      box-shadow: 0px 5px 10px 2px rgba(196,197,214,0.19) !important;
    }
  }
  &.btn-danger {
    &.m-btn--air {
      -webkit-box-shadow: 0 5px 10px 2px rgba(244,81,108,.19)!important;
      box-shadow: 0 5px 10px 2px rgba(244,81,108,.19)!important;
    }
  }

  .btn-cargo {
  }
}

.btn-outline-primary {
  color: $primary-dark;
  background-color: transparent;
  background-image: none;
  border-color: $primary-dark;
  &:hover {
    background-color: $primary-dark;
    color: $yellow-gold;
    border-color: $primary-dark;
  }
}
.btn-outline-secondary{
  color: $yellow-gold;
  background-color: transparent;
  background-image: none;
  border-color: $yellow-gold;
  &:hover {
    background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
    color: $primary-dark;
    border-color: $yellow-gold;
  }
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.m-btn--pill {
  border-radius: 60px;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

.btn-danger {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-metal {
  background-color: #c4c5d6;
  border-color: #c4c5d6;
}