.welcome {
  height: 85vh;
  overflow: hidden;
  img {
    filter: blur(1px);
    width: 100vw;
  }
  input {
    margin: 0 10px;
  }
}
.welcome__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.welcome__title {
  color: white;
  font-size: 20px;
  position: relative;
  top: 43%;
  .title {
    padding-left: 50px;
  }
  strong {
    color: $yellow-gold;
  }
}
label {
  color: $secondary-text;
  font-size: 12px;
}
.welcome__form {
  margin-top: 2em;
  padding: 10px;
  background: #fff;

  input {
    padding-left: 10px;
    border: transparent;
    border-bottom: 2px solid $yellow-gold;
  }
  select {
    margin: 10px;
  }
  ion-icon {
    font-size: 25px;
  }
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-info {
    border-top-color: $yellow-gold;
}
