ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #212529;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

ion-icon {
    font-size: 20px;
    top: 5px;
    position: relative;
}

label {
  color: $secondary-text;
  font-size: 12px;
}

.form-control {
  border-radius: 0;
}

section {
  padding-bottom: 4rem;
}
