/* Coolors Exported Palette - coolors.co/28baa4-fd7a55-feca44-000000-ffffff */

/* HSL */
$color1: hsla(171%, 65%, 44%, 1);
$color2: hsla(13%, 98%, 66%, 1);
$color3: hsla(43%, 99%, 63%, 1);
$color4: hsla(0%, 0%, 0%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(40, 186, 164, 1);
$color2: rgba(253, 122, 85, 1);
$yellow-gold: #FFA000;
$color4: rgba(0, 0, 0, 1);
$color5: rgba(255, 255, 255, 1);
$gray-light: #9e9e9e;
$primary-dark: #212529;
$secondary-text: #757575;
