.logo {
  max-width: 8rem;

  @media (max-width: 767.98px) {
    max-width: 7rem;
  }
}
header {
  li {
    padding-left: 5px;
    padding-right: 10px;
  }
  ion-icon {
    color: #757575;
  }
  .user-sign {
    a {
      padding: 0 1rem;
      font-weight: bold;
    }

    &.-up {
      color: $yellow-gold;
    }
  }
}
.header__support {
  font-size: 13px;
}