nav {
  background-color: $primary-dark;
  border-bottom: 2px solid $yellow-gold;
  box-shadow: -2px 1px 13px 1px black;
  a {
    color: #fff;
  }
  li {
    padding: 1em;
    &:hover {
      background-color: $yellow-gold;
    }
  }
}
.main-header.navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}
