.logo-dash {
  max-width: 80px;
}
.dashboard {
  background-color: #ecf0f5;
  ion-icon {
    margin-top: 18px;
    margin-right: 8px;
    margin-left: 10px;
  }
  nav {
    color: #fff;
    box-shadow: inherit;
  }
  .form-group {
    margin: 0 15px;
  }
  .card {
    margin: 2em 10px;
  }
  .dashboard__exit {
    color: #448AFF;
  }
  .active {
    background-color: $yellow-gold;
  }
  .skin-blue .main-header .navbar {
    background-color: #3c8dbc;
  }
  .user-orders {
    a {
      text-decoration: underline;
    }
  }
  .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      line-height: 1;
  }
}
